.login-container {
	position: relative;
	min-width: 1000px;
	height: 100%;
	min-height: 500px;
	background-color: #eeeeee;
	background-image: url("@/assets/images/login_backround2.png");
	background-position: 50%;
	background-size: 100% 100%;
	background-size: cover;
	.language  {
		position: absolute;
		top: 4.5%;
		right: 3.2%;
	}
	.login-back{
		backdrop-filter: blur(16px);
		width: 100%;
		height: 100%;
		.login-box {
			width: 850px;
			height: 500px;
			box-sizing: border-box;
			display: flex;
			flex-direction: row;
			background-color: hsl(0deg 0% 100% / 70%);
			box-shadow: 1px 1px 7px  5px rgb(0 0 0 / 20%);
			border-radius: 10px;
			.login-left {
				flex: 1;
				img {
					border-top-left-radius: 10px;
					border-bottom-left-radius: 10px;
					width: 100%;
					height: 100%;
				}
					
			}
			.login-right {
				width: 430px;
				
				padding: 50px 40px 0px 40px;
				border-radius: 10px;
				.login-logo {
					display: flex;
					align-items: center;
					justify-content: center;
					margin-bottom: 45px;
					.login-icon {
						width: 72px;
						height: 52px;
					}
					.logo-text {
						// padding-left: 25px;
						font-size: 42px;
						font-weight: bold;
						color: #34495e;
						white-space: nowrap;
					}
				}
				.login-form {
					 padding: 0px 20px 0px 20px;
					.el-form-item {
						margin-bottom: 40px;
					}
					.login-btn {
						display: flex;
						justify-content: space-between;
						width: 100%;
						margin-top: 40px;
						white-space: nowrap;
						.el-button {
							width: 185px;
						}
					}
				}	
			}
		}
	}
}
